@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");

body *:not(code.hljs) {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

code.hljs {
  font-family: "D2Coding", monospace;
}

$main-color: #42b983;
$navy-color: #2c3e50;
$black-color: #000;
$dark-gray-color: #3c4043;
$gray-color: #555;
$a-gray-color: #aaa;
$e-gray-color: #eee;
$f5-gray-color: #f5f5f5;
$f3-gray-color: #f3f3f3;
$light-gray-color: #dadce0;
$almost-white-color: #f8f9fa;
$white-color: #fff;

// :root {
//   --main-color-light: #42b983;
//   --navy-color-light: #2c3e50;
//   --black-color-light: #000;
//   --dark-gray-color-light: #3c4043;
//   --gray-color-light: #555;
//   --a-gray-color-light: #aaa;
//   --e-gray-color-light: #eee;
//   --f5-gray-color-light: #f5f5f5;
//   --f3-gray-color-light: #f3f3f3;
//   --light-gray-color-light: #dadce0;
//   --almost-white-color-light: #f8f9fa;
//   --white-color-light: #fff;

//   --main-color-dark: #42b983;
//   --navy-color-dark: #2c3e50;
//   --black-color-dark: #fff;
//   --dark-gray-color-dark: #3c4043;
//   --gray-color-dark: #555;
//   --a-gray-color-dark: #aaa;
//   --e-gray-color-dark: #eee;
//   --f5-gray-color-dark: #f5f5f5;
//   --f3-gray-color-dark: #f3f3f3;
//   --light-gray-color-dark: #dadce0;
//   --almost-white-color-dark: #f8f9fa;
//   --white-color-dark: #000;
// }
